<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Extensión Auto-translate</title>
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
    </head>
    <body>
        <div class="content">
            <div class="head">
                <h1>Auto-Translate</h1>
            </div>
            <div class="body">
                <div class="origin">
                    <h4>Elije el Idioma de entrada</h4>
                    <select id="from" name="from" class="form"style="visibility: visible;">
                        <option value="es">español</option>
                        <option value="en">inglés</option>        
                    </select>
                </div>
                <div class="origin">
                    <h4>Elije el idioma de salida</h4>
                    <select id="from" name="from" class="form"style="visibility: visible;">
                        <option value="es">español</option>
                        <option value="en">inglés</option>        
                    </select>    
                </div>
            <br>
            <button>Play</button>
        </div>
    </body>
</html>